<h4>
  <a href="<%= data['generatorURL'] %>" style="font-weight: bold;">
    <font color="<%= SEVERITY_COLOURS[data['status'].to_sym] %>">
      <%- if data['status'] == 'firing' -%>
      [FIRING] <%= data['labels']['alertname'] %>
      <%- else -%>
      [OK] <%= data['labels']['alertname'] %>
      <%- end -%>
    </font>
  </a>
</h4>

<%- if data['status'] != 'resolved' -%>
<%-   unless data['valueString'].empty? -%>
<strong><%= data['valueString'] %></strong><br/>
<%-     end -%>
<%-   end -%>
